/***** CSS Reset *****/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*** Typography ***/
h2 {
  font-size: 1.1rem;
  line-height: 1.25;
}
p {
  color: hsla(0,0%,93.3%,.6);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.15;
}

/*** Icons ***/
.icon {
  color: #ffffff;
  line-height: 0;
  cursor: pointer;
}
.youtube-icon {
  color: #ff0000;
}
nav ul > li:first-child {
  padding-left: 8px;
}
nav ul > li:last-child {
  margin-right: 8px;
}
nav ul:first-child {
  width: 25%;
}
nav ul:last-child {
  width: 45%;
}
.youtube-account {
  border: 2px solid #ec407a;
  background-color: #ec407a;
  border-radius: 15px;
}
.flipped {
  transform: scaleX(-1);
}

/*** Nav ***/
.nav {
  display: flex;
  justify-content: space-between;
  height: 48px;
  width: 100%;
  background-color: #202020;
}
.nav ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.search-box {
  display: none;
}
nav ul > li:nth-child(5) {
  display:none;
}

/*** Body ***/
body {
  background-color: #181818;
  color: #ffffff;
  font-family: 'Roboto',Arial,sans-serif;
}

/*** Video ***/
.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.youtube-video {
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
}

/*** Title ***/
.youtube-title {
  display: flex;
  justify-content: space-between;
  margin: 0 3px 3px 3px;
  padding:12px 9px 9px 9px;
}
.youtube-title p {
  margin: 5px 0;
}

/*** Metadata actions ***/
.metadata-actions{
  display: flex;
  padding:2px 15px;
  text-align: center;
  justify-content: space-evenly;
}
button {
  border: none;
  cursor: pointer;
  background: #181818;
}

/*** Metadata Subscribe ***/
.youtube-subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid hsla(0,0%,53.3%,.4);
  border-bottom: 1px solid hsla(0,0%,53.3%,.4);
  margin: 5px 0;
  padding: 13px 12px;
  line-height: 1.em;
}
.youtube-metadata-account {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.youtube-metadata-account li {
  font-size: 28px;
  margin-right: 6px;
}
.youtube-metadata-account a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}
.youtube-metadata-account div h3{
  color: #ffffff;
  padding-bottom: 5px;
}
.youtube-subscribe button {
  display: flex;
  justify-content: flex-end;
  height: 16px;
}
button h4 {
  font-weight: 500;
  cursor: pointer;
  margin-left: 8px;
  text-transform: uppercase;
  color: #ff4a33;
}

/*** Recommended section ***/
.youtube-recommended {
  display: flex;
  flex-direction: column;
  padding-bottom: 12px;
}
.youtube-recommended-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 12px;
  margin-top: 12px;
}
.img-container {
  position: relative;
  min-width: 160px;
  height: 90px;
  overflow: hidden;
}
.youtube-recommended div img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  width: 100%;
  margin: auto;
}
.thumbnail-content {
  margin-left: 5px;
}
.thumbnail-content h4 {
  font-weight: normal;
  font-size: 0.9rem;
  line-height: 1.25;
}

/*** Comments section ***/
.youtube-comments {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  border-top: 1px solid hsla(0,0%,53.3%,.4);
}

/*** Tablet view ***/
@media only screen and (min-width: 600px) {
  .youtube-recommended {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .youtube-recommended-container {
    flex-direction: column;
    width: 33%;
  }
  .img-container {
    height: auto;
    width: 100%;
    padding-bottom: 56.25%;
  }
  .thumbnail-content h4 {
    margin: auto;
  }
}